// ================================
// Colors
// ================================

// --------------------------------
// Color Map
// --------------------------------

$colors: (
  white: (
    base: #ffffff
  ),
  blue: (
    base: #2a5058,
    medium: #447F88,
    light: #5b919f
  ),
  yellow: (
    base: #f6ff00
  ),
  gray: (
    base: #323232,
    light: #d1d1d1,
    dark: #111111
  )
);
