// ================================
// Button
// ================================

%button {
  outline: none;
  border: none;
  display: inline-block;
  background-color: setcolor(blue, medium);
  @include setfont(roboto-condensed);
  text-transform: uppercase;
  font-size: rem(16px);
  line-height: 1;
  padding: rem(15px 20px);
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-weight: 700;

  &:hover,
  &:focus {
    background-color: setcolor(gray, dark);
    color: #fff;
  }
}

.button {
  @extend %button;
}

.button--full {
  width: 100%;
}

.button--large {
  height: auto;
  padding: rem(20px 10px);
  font-size: rem(18px);
  font-weight: 400;
}

.button--width-md {
  width: rem(185px);
  text-align: center;
}

.button--yellow {
  background-color: setcolor(yellow);
  color: #222;
}

.button--padded {
  @include media(">=md") {
    padding-left: rem(45px);
    padding-right: rem(45px);
  }
}

.button--full-mobile {
  @include media("<md") {
    width: 100%;
  }
}
