// ================================
// Button
// ================================

%button {
  outline: none;
  border: none;
  display: inline-block;
  background-color: setcolor(yellow);
  @include setfont(roboto-condensed);
  text-transform: uppercase;
  font-size: rem(18px);
  line-height: 1;
  padding-top: rem(5px);
  padding-bottom: rem(5px);
  padding-left: 46px;
  padding-right: 46px;
  height: rem(30px);
  cursor: pointer;
  text-decoration: none;
  color: setcolor(gray, dark);
  font-weight: 700;

  &:hover,
  &:focus {
    background-color: setcolor(gray, dark);
    color: setcolor(yellow);
  }
}

.button {
  @extend %button;
}

.button--full {
  width: 100%;
}

.button--large {
  height: auto;
  padding: rem(20px 10px);
  font-weight: 400;
}

.button--width-md {
  width: rem(185px);
  text-align: center;
}

.button--blue {
  background-color: setcolor(blue, light);
  color: setcolor(white);
}

.button--full-mobile {
  @include media("<md") {
    width: 100%;
  }
}
