// ================================
// Base & Typography Defaults
// ================================

// --------------------------------
// Pseudo
// --------------------------------

::selection {
  background: #777;
  color: #fff;
  text-shadow: none;
}

// --------------------------------
// General
// --------------------------------

html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  color: setcolor(gray);
  @include setfont(roboto);
  font-size: $body-font-size;
  @include font-smoothing;
}

a:not(.button) {
  color: setcolor(blue);
  text-decoration: none;

  &:hover,
  &:focus {
    color: #999;
    text-decoration: underline;
  }
}


// --------------------------------
// Headlines
// --------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}


// --------------------------------
// Text Components
// --------------------------------

p,
dl,
address {
  @extend %type-default;
}

p,
li,
dt,
dd {
  font-weight: normal;
  font-style: normal;
}

li {
  line-height: 1;
}

// --------------------------------
// Extend WYSIWYG Styles
// --------------------------------

.wysiwyg {
  @extend %wysiwyg;
}
