// ================================
// Home
// ================================


// --------------------------------
// Intro
// --------------------------------

// background image
.block-intro__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: setcolor(gray, dark);
  z-index: 1;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.43;
    background-image: linear-gradient(-180deg, #4D736E 7%, rgba(32,68,87,0.00) 100%);
    z-index: 2;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    opacity: .85;
  }
}

.block-intro__content {
  padding: rem(50px 0 65px);
  z-index: 2;

  @include media(">=lg") {
    padding: rem(110px 0);
  }
}

.block-intro__heading {
  @include type(28, 32);
  text-transform: uppercase;
  @include setfont(alfa);
  color: setcolor(white);
  margin-bottom: rem(30px);

  @include media(">=md") {
    @include type(38, 40);
  }
  @include media(">=lg") {
    @include type(42, 44);
  }
}

// form
.block-intro__form {
  background-color: rgba(190, 190, 190, .8);
  padding: rem(20px);
  margin: 0;
  color: setcolor(white);
  text-align: center;

  @include media(">=lg") {
    padding: rem(50px);
  }
}

.block-intro__form-description {
  font-weight: 700;
  @include type(14, 20);
  margin-bottom: rem(20px);

  @include media(">=lg") {
    @include type(18, 24);
  }
}

.block-intro__form-fieldset {
  width: 100%;
  max-width: rem(300px);
  margin: 0 auto;
}


// --------------------------------
// Landing
// --------------------------------

.block-landing {
  background-color: setcolor(white);
  padding: rem(65px 0);
  z-index: 2;
}

.block-landing__post {
  width: 100%;
}

.block-landing__post-preview {
  margin-bottom: rem(40px);
  color: #2E2E2E;

  p,
  ul,
  ol {
    @include type(18, 28);
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li + li {
      margin-top: rem(10px);
    }
  }

  ul li {
    font-size: rem(15px);
    font-weight: 700;
    line-height: rem(20px);
    padding-left: rem(20px);

    &::before {
      content: '';
      position: absolute;
      top: rem(8px);
      left: 0;
      display: block;
      width: rem(4px);
      height: rem(4px);
      border-radius: 50%;
      background: #222;
    }
  }

  .button {
    margin-right: rem(10px);
    margin-bottom: rem(10px);

    @include media("<=sm") {
      display: table;
      margin: rem(0 auto 10px);
    }
  }
}

.block-landing__post-time {
  display: block;
  @include setfont(anonymous, 700);
  @include type(10, 12);
  letter-spacing: 2px;
  color: setcolor(blue);
  text-transform: uppercase;
}

.block-landing__post-video {
  margin-bottom: rem(55px);
}
