// ================================
// Main
// ================================

main {
  overflow: hidden;
}


// --------------------------------
// Spacing
// --------------------------------

.spacing--xs {
  padding-top: rem(20px);
  padding-bottom: rem(20px);
}

.spacing--sm {
  padding-top: rem(40px);
  padding-bottom: rem(40px);
}

.spacing--md {
  padding-top: rem(60px);
  padding-bottom: rem(60px);
}

.spacing--lg {
  padding-top: rem(60px);
  padding-bottom: rem(60px);

  @include media(">=lg") {
    padding-top: rem(100px);
    padding-bottom: rem(100px);
  }
}

.spacing-top--sm {
  padding-top: rem(30px);
}

.spacing-bottom--lg {
  padding-bottom: rem(80px);
}

.body-label {
  background-color: setcolor(yellow);
  font-weight: 700;
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.act-now {
  border: 1px solid setcolor(blue, light);
  border-radius: 5px;
  text-align: center;
}
